.menu { 
    position: absolute;
    top: 20px;
    right: 10%;
    font-weight: bold;
    display: flex;
}

.menu-item {
    color: #000;
    background: rgb(255, 157, 92);
    padding: 12px 24px;
    border-radius: 4px;
    text-decoration: none;
}